<!DOCTYPE html>
<html lang="pt-br">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <title>Painel Admin - Nova Quadra</title>
    <link
      rel="stylesheet"
      href="{% static 'css/admin_quadras.css' %}"
    />
  </head>
  <body>
    <h1>Cadastrar Nova Unidade</h1>
    <form
      action="{% url 'admin_cadastrar_quadra' %}"
      method="POST"
      enctype="multipart/form-data"
    >
{% csrf_token %}
      <input type="text" name="nome" placeholder="Nome da Quadra" required />
      <textarea name="descricao" placeholder="Descrição da Unidade"></textarea>
      <input
        type="text"
        name="localizacao"
        placeholder="Endereço (Rua, Número)"
        required
      />

      <div class="form-group">
        <input type="text" name="cidade" placeholder="Cidade" required />
        <input
          type="text"
          name="estado"
          placeholder="Estado (Ex: SP)"
          required
        />
      </div>

      <input
        type="text"
        name="esporte"
        placeholder="Esportes (Ex: Futebol, Tênis)"
        required
      />

      <hr />
      <h3>Configuração de Horários</h3>
      <div class="form-group">
        <label>Abertura:</label>
        <input type="time" name="hora_abertura" required />

        <label>Fechamento:</label>
        <input type="time" name="hora_fechamento" required />
      </div>

      <label>Preço por Hora (R$):</label>
      <input
        type="number"
        step="0.01"
        name="preco"
        placeholder="Ex: 100.00"
        required
      />

      <label>Foto da Unidade:</label>
      <input type="file" name="foto" accept="image/*" required />

      <button type="submit">Cadastrar Quadra e Gerar Agenda</button>
    </form>
  </body>
</html>
